.hero {
  height: 10rem;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  column-gap: 2rem;
}

.hero-heading {
  color: #ffffff;
  position: static;
  text-align: center;
  font-size: 2rem;
}

@media screen and (max-width: 900px) {
  .hero-heading {
    font-size: 1.5rem;
  }
}

@media screen and (max-width: 600px) {
  .hero-heading {
    font-size: 1rem;
  }
}
